{
  "experimentalTernaries": false,
  "experimentalOperatorPosition": "start",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhiteSpaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
}
